<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd ">

	 <!-- Quartz -->
    <bean name="sftpTask" class="com.dcits.govsbu.sd.taxbankportal.bankgyservice.task.SftpTask" />
    <bean id="quartzTestJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="sftpTask"></property>
        <property name="targetMethod" value="tbxxrk"></property>
    <!-- 设定多个job不会并发运行 -->
        <property name="concurrent" value="false"></property>
    </bean>

   
    
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="quartzTestJob" />
         <property name="cronExpression" value="0 0/5 * * * ?"></property>
    </bean>

    <bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
            </list>
        </property>
    </bean>
</beans>    